
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #D6D58E;
    color: #042940;
}

h1, h2, h3, h4 {
    font-family: Titillium Web;
    font-size: 30pt;
    text-align: center;
    color: #005C53;
}

/* image size */

#design img {
    width: 300px;
    align-items: center;
}


#bio {
    text-align: center;
    font-size: medium;
}